  .chart-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button-group button {
    background-color: green; 
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    color: white; 
  }
  
  .button-group button.active {
    background-color: darkgreen; 
    color: white;
  }
  
  .button-group button:hover {
    background-color: orange; 
  }
  